<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Details</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <style>

        .card {
            border: 1px solid #45b6fe;
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 8px;
            background-color: #1b3b5a;
            color: white;
        }

        .card h4 {
            margin-top: 0;
            margin-bottom: 10px;
            font-weight: bold;
            color: #45b6fe;
        }
    </style>
</head>
<body>
<div class="header">
    <h1>Детали счетов</h1>
</div>

<div class="container">
    <div th:if="${account != null}">
        <h2>Счет: <span th:text="${account.accountNumber}"></span></h2>
        <h3>Баланс: <span th:text="${account.currentAmount}"></span></h3>

        <h3 th:if="${cards != null and #lists.size(cards) > 0}">Карты:</h3>
        <ul th:if="${cards != null and #lists.size(cards) > 0}">
            <li th:each="card : ${cards}" class="card">
                <h4>Детали</h4>
                Номер карты: <span th:text="${card.cardNumber}"></span><br>
                Действительно до: <span th:text="${card.expirationDate}"></span><br>
                CVV: <span th:text="${card.cvvHash}"></span><br>
                Платежная система: <span th:text="${card.system}"></span><br>
            </li>
        </ul>

        <div class="form-group">
            <h3>Открыть новую дебетовую карту для этого счета:</h3>
            <form action="/debit/{accountId}" method="post">
                <input type="hidden" name="accountId" th:value="${account.id}">

                <div class="form-group">
                    <label for="payment-system">Выберите платежную систему:</label>
                    <select id="payment-system" name="paymentSystem">
                        <option value="VISA">VISA</option>
                        <option value="MASTERCARD">MASTERCARD</option>
                        <option value="MIR">МИР</option>
                    </select>
                </div>

                <button type="submit" class="button">Открыть новую дебетовую карту</button>
            </form>
        </div>

        <div class="form-group">
            <h3>Пополнить счет:</h3>
            <form th:action="@{/account/{accountId}/deposit(accountId=${account.id})}" method="post">
                <input type="hidden" name="accountId" th:value="${account.id}">

                <div class="form-group">
                    <label for="deposit-amount">Введите сумму пополнения (до 1 000 000):</label>
                    <input type="number" id="deposit-amount" name="amount" min="1" max="1000000" step="0.01" required>
                </div>

                <button type="submit" class="button">Пополнить</button>
            </form>
        </div>


        <div class="link-button">
        <a th:href="@{/debit/{accountId}/debt-per-month(accountId=${account.id})}" class="button">Просмотр долговой нагрузки для этого счета</a>
        </div>

        <div class="link-button">
            <a th:href="@{/debit}" class="button">Назад на страницу со счетами</a>
        </div>

        <div th:if="${cards == null or #lists.size(cards) == 0}">
            <p>Для этого счета нет открытых дебетовых карт.</p>
        </div>
    </div>

    <!-- Сообщение, если счёта нет -->
    <div th:unless="${account != null}">
        <p>У вас нет открытых дебетовых счетов.</p>
    </div>
</div>

</body>
</html>
