<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Details</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <style>

        .credit {
            border: 1px solid #45b6fe;
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 8px;
            background-color: #1b3b5a;
            color: white;
        }

        .credit h4 {
            margin-top: 0;
            margin-bottom: 10px;
            font-weight: bold;
            color: #45b6fe;
        }
    </style>
</head>
<body>
<div class="header">
    <h1>Account Details</h1>
</div>

<div class="container">

    <!-- Проверяем, есть ли счёт -->
    <div th:if="${account != null}">
        <h2>Account: <span th:text="${account.accountNumber}"></span></h2>

        <!-- Проверяем, есть ли связанные кредиты -->
        <h3 th:if="${credits != null and #lists.size(credits) > 0}">Credits:</h3>
        <ul th:if="${credits != null and #lists.size(credits) > 0}">
            <li th:each="credit : ${credits}" class="credit">
                <h4>Credit Details</h4>
                Credit Amount: <span th:text="${credit.amount}"></span><br>
                Rate: <span th:text="${credit.rate}"></span><br>
                Open date: <span th:text="${credit.openedDate}"></span><br>
                Closed date: <span th:text="${credit.closedDate}"></span><br>
                <a th:href="@{/account/{accountId}/credit/{creditId}/payments(accountId=${account.id}, creditId=${credit.id})}" class="button">View Payment Dates</a>
            </li>
        </ul>
        <div class="form-group">
            <h3>Issue New Credit for This Account:</h3>
            <form th:action="@{/account/{accountId}/credit(accountId=${account.id})}" method="post" th:object="${credit}">
                <input type="hidden" name="accountId" th:value="${account.id}">

                <div class="form-group">
                    <label for="amount">Amount:</label>
                    <input th:field="*{amount}" type="number" id="amount" placeholder="Enter amount" required>
                    <!-- Отображаем ошибку валидации для поля amount -->
                    <div th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="error-message">Amount Error</div>
                </div>

                <div class="form-group">
                    <label for="term">Term (months):</label>
                    <input th:field="*{term}" type="number" id="term" placeholder="Enter term in months" required>
                    <!-- Отображаем ошибку валидации для поля term -->
                    <div th:if="${#fields.hasErrors('term')}" th:errors="*{term}" class="error-message">Term Error</div>
                </div>

                <!-- Общие ошибки формы -->
                <div th:if="${#fields.hasGlobalErrors()}" class="global-error-message">
                    <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
                </div>

                <button type="submit" class="button">Issue New Credit</button>
            </form>
        </div>

        <!-- Кнопка перехода обратно на главную страницу со списком счетов -->
        <div class="link-button">
            <a th:href="@{/account}" class="button">Back to Accounts with Credits List</a>
        </div>

        <!-- Сообщение, если кредитов нет -->
        <div th:if="${credits == null or #lists.size(credits) == 0}">
            <p>No cards associated with this account.</p>
        </div>
    </div>

    <!-- Сообщение, если счёта нет -->
    <div th:unless="${account != null}">
        <p>No account found or no account is associated with the user.</p>
    </div>
</div>

</body>
</html>
