<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credits</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <style>
        .form-group label {
            margin-left: 570px;
            margin-top: 100px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="header">
    <h1>Credits</h1>
</div>

<div class="form-group">
    <label for="account">Choose Account</label>
    <select id="account" name="accountId">
        <option th:each="account : ${accounts}" th:value="${account.id}" th:text="${account.accountNumber}">Account Number</option>
    </select>
</div>

<div class="container">
    <div class="link-button">
        <form id="view-account-form" method="get">
            <input type="hidden" id="selected-account" name="accountId">
            <button type="button" onclick="submitForm('/account/' + getSelectedAccount() + '/credit')">View Credits</button>
            <button type="button" onclick="submitForm('/account/' + getSelectedAccount() + '/refinanced-credit')">View Refinanced Credits</button>
            <button type="button" onclick="submitForm('/account/' + getSelectedAccount() + '/pledge-credit')">View Pledge Credits</button>

        </form>
    </div>
    <div class="link-button">
        <a th:href="@{/user}" class="button">Back to Main page</a>
    </div>
</div>

<script>
    function getSelectedAccount() {
        var selectedAccount = document.getElementById('account').value;
        return selectedAccount ? selectedAccount : 0;
    }

    function submitForm(action) {
        var form = document.getElementById('view-account-form');
        form.action = action;
        form.submit();
    }
</script>

</body>
</html>
