<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debit Cards</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="header">
    <h1>Дебетовые счета и карты</h1>
</div>

<div class="container">
    <form action="/debit/new-card" method="post">
        <div class="form-group">
            <label for="account">Выберите счет:</label>
            <select id="account" name="accountId">
                <option th:each="account : ${accounts}" th:value="${account.id}" th:text="${account.accountNumber}">Номер счета</option>
            </select>
        </div>

        <div class="form-group">
            <label for="payment-system">Выберите платежную систему:</label>
            <select id="payment-system" name="paymentSystem">
                <option value="VISA">VISA</option>
                <option value="MASTERCARD">MASTERCARD</option>
                <option value="MIR">МИР</option>
            </select>
        </div>

        <button type="submit" class="button">Открыть новый дебетовый счета</button>
    </form>

    <div class="link-button">
        <form id="view-account-form" method="get">
            <input type="hidden" id="selected-account" name="accountId">
            <button type="button" onclick="submitForm()">Открыть детали счета</button>
        </form>
    </div>

    <div class="link-button">
        <a th:href="@{/user}" class="button">Назад на страницу пользователя</a>
    </div>
</div>

<script>
    function submitForm() {
        var selectedAccount = document.getElementById('account').value;
        var form = document.getElementById('view-account-form');

         if (!selectedAccount) {
            selectedAccount = 0;
        }

        form.action = "/debit/" + selectedAccount;

        form.submit();
    }
</script>

</body>
</html>
