<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pledge Credit Details</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <style>

        .credit {
            border: 1px solid #45b6fe;
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 8px;
            background-color: #1b3b5a;
            color: white;
        }

        .credit h4 {
            margin-top: 0;
            margin-bottom: 10px;
            font-weight: bold;
            color: #45b6fe;
        }
        .pledge {
            border: 1px solid #45b6fe;
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 8px;
            background-color: #1b3b5a;
            color: white;
        }

        .pledge h4 {
            margin-top: 0;
            margin-bottom: 10px;
            font-weight: bold;
            color: #45b6fe;
        }

    </style>
</head>
<body>
<div class="header">
    <h1>Залоговые кредиты</h1>
</div>

<div class="container">

    <div th:if="${account != null}">
        <h2>Номер счета: <span th:text="${account.accountNumber}"></span></h2>

        <h3 th:if="${credits != null and #lists.size(credits) > 0}">Кредиты:</h3>
        <ul th:if="${credits != null and #lists.size(credits) > 0}">
            <li th:each="credit : ${credits}" class="credit">
                <h4>Детали</h4>
                ЮИД: <span th:text="${credit.id}"></span><br>
                Сумма: <span th:text="${credit.amount}"></span><br>
                Сумма долга: <span th:text="${credit.debt}"></span><br>
                Ставка: <span th:text="${credit.rate}"></span><br>
                Дата открытия: <span th:text="${credit.openedDate}"></span><br>
                Дата закрытия: <span th:text="${credit.closedDate}"></span><br>
            </li>
        </ul>

        <h3 th:if="${pledges != null and #lists.size(pledges) > 0}">Залоги:</h3>
        <ul th:if="${pledges != null and #lists.size(pledges) > 0}">
            <li th:each="pledge : ${pledges}" class="pledge">
                <h4>Детали</h4>
                Идентификатор залога: <span th:text="${pledge.creditId}"></span><br>
                Стоимость: <span th:text="${pledge.cost}"></span><br>
                Тип: <span th:text="${pledge.pledgeType}"></span><br>
            </li>
        </ul>

        <div class="form-group">
            <h3>Открыть новый залоговый кредит:</h3>
            <form th:action="@{/account/{accountId}/pledge-credit(accountId=${account.id})}" method="post" th:object="${credit}">
                <input type="hidden" name="accountId" th:value="${account.id}">

                <h4>Детали кредита:</h4>
                <div>
                    <div class="form-group">
                        <label for="creditAmount">Сумма:</label>
                        <input th:field="*{amount}" type="number" id="creditAmount" placeholder="Введите сумму" required>
                        <div th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="error-message">Amount Error</div>
                    </div>

                    <div class="form-group">
                        <label for="creditTerm">Срок(в месяцах):</label>
                        <input th:field="*{term}" type="number" id="creditTerm" placeholder="Введите срок" required>
                        <div th:if="${#fields.hasErrors('term')}" th:errors="*{term}" class="error-message">Term Error</div>
                    </div>
                </div>

                <h4>Детали залога:</h4>
                <div th:object="${pledge}">
                    <div class="form-group">
                        <label for="pledgeCost">Стоимость:</label>
                        <input th:field="*{cost}" type="number" id="pledgeCost" placeholder="Введите стоимость" required>
                        <div th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}" class="error-message">Pledge Amount Error</div>
                    </div>

                    <div class="form-group">
                        <label for="pledge-type">Выберите тип залога:</label>
                        <select th:field="*{pledgeType}">
                            <option value="CAR">Машина</option>
                            <option value="FLAT">Квартира</option>
                            <option value="HOUSE">Дом</option>
                        </select>
                    </div>
                </div>

                <div th:if="${#fields.hasGlobalErrors()}" class="global-error-message">
                    <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
                </div>

                <button type="submit" class="button">Взять новый залоговый кредит</button>
            </form>
        </div>


        <div class="link-button">
            <a th:href="@{/account}" class="button">Назад</a>
        </div>

        <div th:if="${credits == null or #lists.size(credits) == 0}">
            <p>Нет залоговых кредитов на этом счете.</p>
        </div>
    </div>

    <div th:unless="${account != null}">
        <p>У вас нет открытых дебетовых счетов.</p>
    </div>
</div>

</body>
</html>
