<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
     <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="container">
        <div class="message" th:if="${message != null}">
           [[${message}]]
        </div>
        <h2>Страница регистрации</h2>
        <form 
         th:action="@{/registration}"
         method="post"
         role="form"
         th:object="${user}"
        >
            <div class="form-group">
                <label for="firstName">Имя:</label>
                <input th:field="*{firstName}" type="text" id="firstName" name="firstName" placeholder="Введите имя" required>
            </div>

            <div class="form-group">
                <label for="lastName">Фамилия:</label>
                <input th:field="*{lastName}" type="text" id="lastName" name="lastName" placeholder="Введите фамилию" required>
            </div>

            <div class="form-group">
                <label for="middleName">Отчество:</label>
                <input th:field="*{middleName}" type="text" id="middleName" name="middleName" placeholder="Введите отчество">
            </div>
            
            <div class="form-group">
                <label for="email">Электронная почта:</label>
                <input th:field="*{email}" type="email" id="email" name="email" placeholder="Введите адрес электронной почты" required>
            </div>
            
            <div class="form-group">
                <label for="password">Пароль:</label>
                <input th:field="*{password}" type="password" id="password" name="password" placeholder="Введите пароль" required>
            </div>

            <div class="form-group">
                <label for="passportSeries">Серия паспорта:</label>
                <input th:field="*{passportSeries}" type="text" id="passportSeries" name="passportSeries" placeholder="Введите серию паспорта" required>
            </div>

            <div class="form-group">
                <label for="passportNumber">Номер паспорта:</label>
                <input th:field="*{passportNumber}" type="text" id="passportNumber" name="passportNumber" placeholder="Введите номер паспорта" required>
                <div th:if="${#fields.hasErrors('passportNumber')}" th:errors="*{passportNumber}" class="error">
                    Ошибка валидации
                </div>
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Дата рождения:</label>
                <input type="date" id="dateOfBirth" th:field="*{dateOfBirth}" required>
                <div th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}" class="error"></div>
            </div>
            <input type="submit" value="Зарегистрироваться">
        </form>

    </div>
</body>
</html>
