<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="header">
    <h1>Пользовательская страница</h1>
</div>
<div class="container">
    <h2>Здравствуйте, [[${user.getFirstName()}]]</h2>

    <a href="/account" class="button">Просмотр кредитов</a>


    <a href="/debit" class="button">Просмотр дебетовых счетов и карт</a>

    <span sec:authorize="isAuthenticated">
        <a th:href="@{/logout}" class="button">Выйти</a>
        </span>

</div>
</body>
</html>
